<div ng-controller="InternsDailyReportsController">
    <div class="text-center">
        <!--<div class="well col-lg-4 col-lg-offset-4">-->
        <div class="well calendar-wrapper">
            <uib-datepicker ng-change="printDt()" ng-model="dt" datepicker-options="options"></uib-datepicker>
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"-->
                       <!--is-open="opened" datepicker-options="dateOptions" ng-required="true" show-button-bar="false" ng-change="printDt()"/>-->
                  <!--<div class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default" ng-click="open()"><i-->
                            <!--class="glyphicon glyphicon-calendar"></i></button>-->
                  <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="well col-lg-10 col-lg-offset-1 daily-report-wrapper">
        <form name="daily-report-form">
            <div class="col-lg-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Task</th>
                        <th>Hours</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="task in dailyReport" daily-task></tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 report-controls">
                <div class="add-remove-task-buttons">
                    <button class="btn btn-sm btn-success" ng-click="addNewTask()">+</button>
                </div>
                <div class="save-cancel-buttons">
                    <button class="btn btn-primary" ng-click="saveDailyReport()">Save</button>
                    <button class="btn btn-warning">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>