<tr>
    <td><input ng-readonly="task._id" class="form-control task-description" type="text" ng-model="task.description"></td>
    <td><input ng-readonly="task._id" class="form-control task-hours" type="number" ng-model="task.hours"></td>
    <td class="daily-task-buttons-cell">
        <button ng-show="task._id" class="btn btn-sm btn-primary edit-btn">Edit</button>
        <button ng-show="task._id" class="btn btn-sm btn-danger delete-btn" ng-click="deleteTask(task._id)">Delete</button>
    </td>
</tr>